*{
    margin:auto;
    max-width: 70vw;
    padding:10px;
    --maincolour:rgba(245, 243, 244, 0.03);
    --secondarycolor:rgba(164, 22, 26, 0.8);
    --backgroundcolor:#161A1D;
    --firstfontcolor:#D3D3D3;
    --titlefont:'Great Vibes';
    --bodyfont:'Syncopate'
}

header h1{
    display: flex;
    font-size: 6rem;
    width: 90%;
    justify-content: center;
    font-family: var(--titlefont);
    transform: rotate(-5deg);
    text-shadow: 10px 4px 7px var(--maincolour);
    text-shadow: 4px 4px 10px var(--secondarycolor);
}

h1{
    color: var(--firstfontcolor);
}

.nav{
    justify-content: center;
    top: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    background-color: var(--maincolour);
    font-size: 20px;
    
    
}

nav a {
    color: var(--firstfontcolor);
}

nav :hover{
    opacity: 0.5;
}

body{
    background-color:var(--backgroundcolor)
}

.intro{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    background-color:var(--maincolour);
    line-height:2rem;
    color: var(--firstfontcolor) ;
    font-family: var(--bodyfont);
    text-align: center;
    
}

.intro img{
    display: flex;
    position: relative;
    height: 40vh;
    flex-wrap: wrap;
    border-radius: 100%;
}
.intro img:hover{
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.hobbies{
    background-color:var(--secondarycolor) ;
    line-height: 2rem;
    color:var(--firstfontcolor);
    font-family: var(--bodyfont);
    text-align: center;
    border: 2px solid white;
    
}

.skills{
    position: relative;
    background-color: var(--maincolour);
    line-height: 2rem;
    color: var(--firstfontcolor);
    font-family: var(--bodyfont);
    text-align: center;
    border: 2px solid white;
}

.skills li{
    font-size: 2rem;
    display: inline-block;
}

.li1 i{
    color: rgb(240, 101, 41, 0.8);
    text-decoration: underline;
    text-shadow: 4px 0.1px 1px orange;
}

.li2 i{
    color: skyblue;
    text-decoration: underline;
    text-shadow: 4px 0.1px 1px blue;
}


h4{
    text-align: center;
    font-family:var(--titlefont);
    font-size: 3rem;
    color: white;
    transform: rotate(-5deg);
    text-shadow: 4px 4px 10px var(--secondarycolor);

}

form{
    height: 50vh;
    font-size: 3rem;
    
    
}

#name, #email, #message{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vh;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    font-size: 16px;
    color: white;
    font-family: var(--bodyfont);
    
}

button{
    display: flex;
    position: relative;
    background-color: transparent;
    border: 5px groove var(--secondarycolor);
    color: white;
    height: 3rem;
    width: 5rem;
    align-content: center;
    justify-content: center;
}

button:hover{
    opacity: 0.5;}


#message{
    height: 4rem;
}


@media (max-width:870px){
    #name, #email, #message{
        width: 50vw;
    }
}

@media all and (max-width:550px){
.nav{
    display: block;
    text-align: center;
}

.intro img{
    height: 20vh;
}

}

@media (max-width:370px){
    header h1{
        font-size: 2rem;
    }
}

