*{
    margin: 0;
    --mainfont: 'Great Vibes';
    --secondaryfont: 'Cinzel Decorative';
    --maincolour: white;
    --secondarycolour: #FE4A49;
    
}
header{
    background: linear-gradient(rgba(252, 75, 75, 0.5), rgba(0, 0, 0, 0)), url(New\ York\ Street.jpeg);
    background-size: cover;
    height: 50vmin;
}


body{
    background-color:gainsboro;
    
}


.text {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    text-align: center;
    justify-content: space-around;
    padding: 10rem;
    height: fill;
    width: 700px;
    margin: auto;
    border-bottom: 5px double rgba(0, 0, 0, 0.5);
    border-width: medium;
    font-weight: lighter;
    font-size: 28px;
    line-height: 3rem;
    
}


h1{
    font-family: var(--mainfont);
    color: white;
    display: flex;
    height: 50vh;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 4px black;
}

h3{
position: relative;
    text-align: center;
    font-size: 4rem;
    font-family: var(--mainfont);
    color: white;
    text-shadow: 10px 10px 4px black;
    bottom: 8rem;
}


.me{
    position: relative;
    display:flex;
    margin: auto;
    border-radius: 100%;
    height: 550px;
    width: 550px;
    left: auto;
    right: auto;
    top: 120px;
    border: 1px solid black; 
    box-shadow: 20px 10px rgba(0, 0, 0, 0.2);
}




nav{
    position: relative;
    bottom: 81px;
    display:flex;
    height:70px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;   
}


nav a{
    
    display: flex;
    text-decoration: none;
    color: #FE4A49;
    
}

nav :hover {
    opacity: 0.6;
    
}

h2{
    font-family: var(--secondaryfont);
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

nav p{
    font-size: 25px;
    text-align: center;
    color:rgba(0,0, 0, 0.)
}

.skills{
    font-size: 25px;
    text-align: center;
    
}

li{
    text-align: center;
    font-size: 25px;
}

.HaI{
    font-family: var(--secondaryfont);
    color: black;
    text-decoration: underline;
    top: 0px;
    font-size: 3rem;
}

footer{
    height: 30vh;
}

#name, #email, #message {
    display: flex;
    background-color: rgba(252, 75, 75, 0.5);
    color: white;
    text-align: left;
    font-family: var(--secondaryfont);
    font-size: medium;
    margin: auto;
    margin-top: 10px;
    width: 40%;
}

#message{
    height: 100px;
}

button{
    position: relative;
    right: 185px;
    height: 40px;
    width: 80px;
    background-color: rgba(255,255,255, 0.6);
    border-top: none;
    border-left: none;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    font-family: var(--secondaryfont);
    font-weight: bold;
    
}





#name::placeholder, #email::placeholder, #message::placeholder{
    color: white;
}










#submit{
    display: block;
    width: ;
    margin-top: 10px;
    margin-left: 900px;
    margin-right: auto;

}

h4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    text-decoration: underline;
    font-family: var(--mainfont);
}


@media screen and (max-height: )


